<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MVCView.Properties.Settings.ScadaReceiveValueConnectionString"
            connectionString="Data Source=CANDY-PC;Initial Catalog=ScadaReceiveValue;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>